<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f8f9fa; --bs-bg-opacity: 1;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
            <span class="bi bi-house-door"></span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <span class="navbar-text">Hello, {{ user.username }}</span>
                </li>
                {% else %}
                <li class="nav-item">
                    <span class="navbar-text">You need to log in into account</span>
                </li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
                <form class="d-flex" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <!-- Используйте Bootstrap Icons -->
                    <!-- <a type="button" class="btn btn-outline-secondary" aria-label="Profile" href="" style="margin-right: 5px">
                        <span class="bi bi-person"></span>
                    </a> -->
                    <button type="submit" class="btn btn-primary">Log Out</button>
                </form>
            {% else %}
                <div class="d-flex" style="gap: 10px;">
                    <a type="button" class="btn btn-outline-secondary" href="{% url 'login' %}">Log In</a>
                    <a type="button" class="btn btn-outline-secondary" href="{% url 'signup' %}">Register</a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>
